@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased font-sans;
}

.font-snippet {
  font-family: var(--font-snippet), sans-serif;
}

.font-parisienne {
  font-family: var(--font-parisienne), cursive;
}

.font-palanquin {
  font-family: var(--font-palanquin), sans-serif;
}
